<a href="https://colab.research.google.com/github/SharmaAshwini/UNT/blob/main/Machine%20Learning/Assignment_1_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Student name: Ashwini Kumar Sharma
## Assignment: Regression

### Part 1: Data Wrangling (40 pts)
You have to write code to answer the questions below
4 pts each subtask except for the first one (importing pandas...)

* Import pandas library
* Read the car_price data stored in your local machine
* Save data to a variable named df
* Show it's information such as column titles, types of the columns

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving car_price.csv to car_price.csv

In [ ]:
#in case someone doesn't have the csv in local while testing

#!gdown '1he_9Hsjj8hPkmx4DFSg__Guc8y_AnKlh'

Downloading...
From: https://drive.google.com/uc?id=1he_9Hsjj8hPkmx4DFSg__Guc8y_AnKlh
To: /content/car_price.csv
100% 556k/556k [00:00<00:00, 4.59MB/s]

In [ ]:
df = pd.read_csv('car_price.csv')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           5512 non-null   int64
 1   car_name             5512 non-null   object
 2   car_prices_in_rupee  5512 non-null   object
 3   kms_driven           5512 non-null   object
 4   fuel_type            5512 non-null   object
 5   transmission         5512 non-null   object
 6   ownership            5512 non-null   object
 7   manufacture          5512 non-null   int64
 8   engine               5512 non-null   object
 9   Seats                5512 non-null   object
dtypes: int64(2), object(8)
memory usage: 430.8+ KB

In [ ]:
# Drop the first column: Unnamed: 0 and show the last 5 rows of the new dataset

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
5507,BMW X1 sDrive 20d xLine,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018,2995 cc,7 Seats
5508,BMW M Series M4 Coupe,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015,1968 cc,5 Seats
5509,Jaguar XF 2.2 Litre Luxury,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013,2755 cc,5 Seats
5510,BMW 7 Series 730Ld,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015,2967 cc,6 Seats
5511,BMW 5 Series 520d M Sport,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017,1991 cc,5 Seats

In [ ]:
df.drop('Unnamed: 0', axis=1, inplace=True)

df.tail(5)

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,Seats
5507,BMW X1 sDrive 20d xLine,28.90 Lakh,"45,000 kms",Diesel,Automatic,1st Owner,2018,2995 cc,7 Seats
5508,BMW M Series M4 Coupe,64.90 Lakh,"29,000 kms",Petrol,Automatic,2nd Owner,2015,1968 cc,5 Seats
5509,Jaguar XF 2.2 Litre Luxury,13.75 Lakh,"90,000 kms",Diesel,Automatic,2nd Owner,2013,2755 cc,5 Seats
5510,BMW 7 Series 730Ld,29.90 Lakh,"79,000 kms",Diesel,Automatic,3rd Owner,2015,2967 cc,6 Seats
5511,BMW 5 Series 520d M Sport,31.90 Lakh,"42,000 kms",Diesel,Automatic,2nd Owner,2017,1991 cc,5 Seats

In [ ]:
# Turn all columns to lowercase and show the new columns

Index(['car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type',
       'transmission', 'ownership', 'manufacture', 'engine', 'seats'],
      dtype='object')

In [ ]:
df.columns  #all original columns

Index(['car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type',
       'transmission', 'ownership', 'manufacture', 'engine', 'Seats'],
      dtype='object')

In [ ]:
df.columns = df.columns.str.lower()   #converting to lowercase

df.columns      #showing new column names, e.g.,  Seats --> seats

Index(['car_name', 'car_prices_in_rupee', 'kms_driven', 'fuel_type',
       'transmission', 'ownership', 'manufacture', 'engine', 'seats'],
      dtype='object')

In [ ]:
'''
Show unique values of columns that satisfy the following:
    The columns are of object type
    The number of unique values is smaller than 7
'''

fuel_type: ['Diesel' 'Petrol' 'Cng' 'Electric' 'Lpg']
transmission: ['Manual' 'Automatic']
ownership: ['1st Owner' '2nd Owner' '3rd Owner' '4th Owner' '5th Owner' '0th Owner']
seats: ['5 Seats' '6 Seats' '7 Seats' '4 Seats' '8 Seats' '2 Seats']

In [ ]:
#Object type columns with #unique values less than 7, printing as list with column header
for col in df.select_dtypes(include='object').loc[:, df.nunique() < 7]:
  print(col, ":",  df[col].unique())

fuel_type : ['Diesel' 'Petrol' 'Cng' 'Electric' 'Lpg']
transmission : ['Manual' 'Automatic']
ownership : ['1st Owner' '2nd Owner' '3rd Owner' '4th Owner' '5th Owner' '0th Owner']
seats : ['5 Seats' '6 Seats' '7 Seats' '4 Seats' '8 Seats' '2 Seats']

In [ ]:
'''
Some columns have redundant values such as Lakh, kms, Owner, cc, Seats. Remove them
You have to additionally take care of columns
    ownership such that the result does not have any character like the console
    kms_driven and car_prices_in_rupee such that the result does not have commas like the console
'''

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,seats
0,Jeep,10.03,86226,Diesel,Manual,1,2017,1956,5
1,Renault,12.83,13248,Petrol,Automatic,1,2021,1330,5
2,Toyota,16.40,60343,Petrol,Automatic,1,2016,2494,5
3,Honda,7.77,26696,Petrol,Automatic,1,2018,1199,5
4,Volkswagen,5.15,69414,Petrol,Manual,1,2016,1199,5

In [ ]:
df.head(5)    #displaying first 5 rows to analyze columns with redundant values

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,seats
0,Jeep Compass 2.0 Longitude Option BSIV,10.03 Lakh,"86,226 kms",Diesel,Manual,1st Owner,2017,1956 cc,5 Seats
1,Renault Duster RXZ Turbo CVT,12.83 Lakh,"13,248 kms",Petrol,Automatic,1st Owner,2021,1330 cc,5 Seats
2,Toyota Camry 2.5 G,16.40 Lakh,"60,343 kms",Petrol,Automatic,1st Owner,2016,2494 cc,5 Seats
3,Honda Jazz VX CVT,7.77 Lakh,"26,696 kms",Petrol,Automatic,1st Owner,2018,1199 cc,5 Seats
4,Volkswagen Polo 1.2 MPI Highline,5.15 Lakh,"69,414 kms",Petrol,Manual,1st Owner,2016,1199 cc,5 Seats

In [ ]:
df['car_name'] = df['car_name'].str.split(' ').str.get(0)               #splitting car_name by space and taking only first value (manufacturer)

#car_prices are having different units like Lakh, Crore or thousand rupees. Removing unit will impact actual number. Hence, handling with units
for col in range(len(df)):
  val = df['car_prices_in_rupee'][col].split(' ')
  replace_val = 0.0

  if val[1] == 'Lakh':
    replace_val = float(val[0])
  elif val[1] == 'Crore':
    replace_val = round(float(val[0]) * 100,2)
  else:
    replace_val = round(float(val[0].replace(',', '')) / 100000,2)

  df.iloc[col, 1] = replace_val

df['kms_driven'] = df['kms_driven'].str.replace(r'\D', '', regex=True)  #removing non-numeric values

df['ownership'] = df['ownership'].str.replace(r'\D', '', regex=True)    #removing non-numeric values

df['engine'] = df['engine'].str.replace(r'\D', '', regex=True)          #removing non-numeric values

df['seats'] = df['seats'].str.replace(r'\D', '', regex=True)            #removing non-numeric values

df.head(5)                                                              #displaying first 5 rows after above changes

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,seats
0,Jeep,10.03,86226,Diesel,Manual,1,2017,1956,5
1,Renault,12.83,13248,Petrol,Automatic,1,2021,1330,5
2,Toyota,16.4,60343,Petrol,Automatic,1,2016,2494,5
3,Honda,7.77,26696,Petrol,Automatic,1,2018,1199,5
4,Volkswagen,5.15,69414,Petrol,Manual,1,2016,1199,5

In [ ]:
'''
Convert columns car_prices_in_rupee, kms_driven, ownership, engine, and seats to numeric
'''

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,seats
0,Jeep,10.03,86226,Diesel,Manual,1,2017,1956,5
1,Renault,12.83,13248,Petrol,Automatic,1,2021,1330,5
2,Toyota,16.40,60343,Petrol,Automatic,1,2016,2494,5
3,Honda,7.77,26696,Petrol,Automatic,1,2018,1199,5
4,Volkswagen,5.15,69414,Petrol,Manual,1,2016,1199,5

In [ ]:
df.info()   #checking data types for columns, which are object type currently and we want to convert them to numeric

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             5512 non-null   object
 1   car_prices_in_rupee  5512 non-null   object
 2   kms_driven           5512 non-null   object
 3   fuel_type            5512 non-null   object
 4   transmission         5512 non-null   object
 5   ownership            5512 non-null   object
 6   manufacture          5512 non-null   int64
 7   engine               5512 non-null   object
 8   seats                5512 non-null   object
dtypes: int64(1), object(8)
memory usage: 387.7+ KB

In [ ]:
#converting columns to numeric
df[["car_prices_in_rupee", "kms_driven", "ownership", "engine", "seats"]] \
 = df[["car_prices_in_rupee", "kms_driven", "ownership", "engine", "seats"]].apply(pd.to_numeric)

#checking data types after conversion
df.info()

#validating dataset in dataframe
df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5512 entries, 0 to 5511
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             5512 non-null   object
 1   car_prices_in_rupee  5512 non-null   float64
 2   kms_driven           5512 non-null   int64
 3   fuel_type            5512 non-null   object
 4   transmission         5512 non-null   object
 5   ownership            5512 non-null   int64
 6   manufacture          5512 non-null   int64
 7   engine               5512 non-null   int64
 8   seats                5512 non-null   int64
dtypes: float64(1), int64(5), object(3)
memory usage: 387.7+ KB

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,seats
0,Jeep,10.03,86226,Diesel,Manual,1,2017,1956,5
1,Renault,12.83,13248,Petrol,Automatic,1,2021,1330,5
2,Toyota,16.40,60343,Petrol,Automatic,1,2016,2494,5
3,Honda,7.77,26696,Petrol,Automatic,1,2018,1199,5
4,Volkswagen,5.15,69414,Petrol,Manual,1,2016,1199,5

In [ ]:
# Show average values of all numeric columns by "car_name" in a same DataFrame table. Do not overwrite df.

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats
car_name,,,,,,
Audi,22.678675,57651.054217,1.566265,2015.427711,1832.204819,5.301205
BMW,36.020058,48188.656977,1.348837,2017.197674,1783.976744,5.220930
Bentley,68.900000,44000.000000,1.000000,2013.000000,2967.000000,5.000000
Chevrolet,14366.975244,81264.609756,1.780488,2011.804878,1503.707317,5.219512
Datsun,2.572400,49289.080000,1.480000,2016.880000,1327.520000,5.120000
Fiat,3531.652941,70394.176471,1.352941,2012.235294,1479.705882,5.294118
Force,9.200000,35000.000000,2.000000,2018.000000,1582.000000,7.000000
Ford,2932.622857,74064.898810,1.380952,2014.470238,1511.648810,5.273810
Honda,5.704960,65342.781124,1.407631,2014.839357,1474.787149,5.198795
Hyundai,1494.281564,60672.173998,1.444770,2015.073314,1436.192571,5.223851
Isuzu,11.030000,47250.000000,1.500000,2018.750000,1459.750000,5.000000
Jaguar,40.401333,35721.500000,1.233333,2017.100000,2017.633333,5.100000
Jeep,15.665714,51957.224490,1.183673,2018.510204,1525.734694,5.204082
Kia,15.708361,24143.295082,1.065574,2020.409836,1468.918033,5.360656
Land,30.031200,56761.520000,1.180000,2017.460000,1822.360000,5.360000
Lexus,44.000000,77400.000000,1.000000,2018.200000,1637.000000,5.200000
MG,18.298387,23387.419355,1.161290,2020.483871,1709.709677,5.274194
Mahindra,7.846508,75993.476190,1.428571,2015.850794,1589.993651,5.441270
Maruti,3318.298416,65790.408207,1.439885,2014.854572,1459.798416,5.235421
Maserati,66.000000,12000.000000,1.000000,2016.000000,1587.000000,5.000000
Mercedes-Benz,38.066325,43151.936396,1.353357,2017.109541,1825.611307,5.215548
Mini,31.906429,25157.285714,1.785714,2016.357143,1689.285714,5.285714
Mitsubishi,8.781250,100087.250000,1.375000,2011.750000,1505.875000,5.000000
Nissan,4.077460,64250.349206,1.444444,2015.015873,1387.015873,5.174603
Porsche,33.096000,48717.100000,1.200000,2016.000000,1894.300000,5.200000
Premier,3.500000,95000.000000,1.000000,2014.000000,2523.000000,5.000000
Renault,4.765647,55705.782353,1.370588,2016.688235,1460.805882,5.241176
Skoda,8.960177,72853.796460,1.486726,2014.893805,1510.106195,5.150442
Tata,5449.461896,65348.122677,1.356877,2016.319703,1551.308550,5.286245
Toyota,13.613574,85979.129278,1.482890,2015.114068,1632.425856,5.429658
Volkswagen,5.416352,71656.477987,1.553459,2014.471698,1448.138365,5.125786
Volvo,45.066452,43177.032258,1.193548,2018.064516,1725.870968,5.258065

In [ ]:
#creating a new dataframe with average values of all numeric columns by "car_name"
df_carname = df.groupby('car_name').mean()

df_carname

<ipython-input-69-5381fe3a0067>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_carname = df.groupby('car_name').mean()

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats
car_name,,,,,,
Audi,27.461687,57651.054217,1.566265,2015.427711,1832.204819,5.301205
BMW,41.937035,48188.656977,1.348837,2017.197674,1783.976744,5.220930
Bentley,68.900000,44000.000000,1.000000,2013.000000,2967.000000,5.000000
Chevrolet,2.180000,81264.609756,1.780488,2011.804878,1503.707317,5.219512
Datsun,2.572400,49289.080000,1.480000,2016.880000,1327.520000,5.120000
Fiat,2.276471,70394.176471,1.352941,2012.235294,1479.705882,5.294118
Force,9.200000,35000.000000,2.000000,2018.000000,1582.000000,7.000000
Ford,6.152083,74064.898810,1.380952,2014.470238,1511.648810,5.273810
Honda,5.704960,65342.781124,1.407631,2014.839357,1474.787149,5.198795
Hyundai,5.393216,60672.173998,1.444770,2015.073314,1436.192571,5.223851
Isuzu,11.030000,47250.000000,1.500000,2018.750000,1459.750000,5.000000
Jaguar,40.401333,35721.500000,1.233333,2017.100000,2017.633333,5.100000
Jeep,15.665714,51957.224490,1.183673,2018.510204,1525.734694,5.204082
Kia,15.708361,24143.295082,1.065574,2020.409836,1468.918033,5.360656
Land,79.056000,56761.520000,1.180000,2017.460000,1822.360000,5.360000
Lexus,44.000000,77400.000000,1.000000,2018.200000,1637.000000,5.200000
MG,18.298387,23387.419355,1.161290,2020.483871,1709.709677,5.274194
Mahindra,7.846508,75993.476190,1.428571,2015.850794,1589.993651,5.441270
Maruti,4.262448,65790.408207,1.439885,2014.854572,1459.798416,5.235421
Maserati,66.000000,12000.000000,1.000000,2016.000000,1587.000000,5.000000
Mercedes-Benz,44.800424,43151.936396,1.353357,2017.109541,1825.611307,5.215548
Mini,31.906429,25157.285714,1.785714,2016.357143,1689.285714,5.285714
Mitsubishi,8.781250,100087.250000,1.375000,2011.750000,1505.875000,5.000000
Nissan,4.077460,64250.349206,1.444444,2015.015873,1387.015873,5.174603
Porsche,85.071000,48717.100000,1.200000,2016.000000,1894.300000,5.200000
Premier,3.500000,95000.000000,1.000000,2014.000000,2523.000000,5.000000
Renault,4.765647,55705.782353,1.370588,2016.688235,1460.805882,5.241176
Skoda,8.960177,72853.796460,1.486726,2014.893805,1510.106195,5.150442
Tata,6.494089,65348.122677,1.356877,2016.319703,1551.308550,5.286245
Toyota,19.726730,85979.129278,1.482890,2015.114068,1632.425856,5.429658
Volkswagen,5.416352,71656.477987,1.553459,2014.471698,1448.138365,5.125786
Volvo,45.066452,43177.032258,1.193548,2018.064516,1725.870968,5.258065

In [ ]:
'''
Show the sum of kms_driven and max of car_prices by "seats" in a same DataFrame table.
Rename the aggregated columns as the console
Do not overwrite df.
'''

             kms   prices
seats
2         203700     47.0
4        5598853  90000.0
5      294601603  99999.0
6        3584287     60.0
7       40263535  90000.0
8        4171949  90000.0

In [ ]:
#creating a new dataframe with sum of kms_driven as 'kms' and max of car_prices as 'prices' by "seats"
df_seats \
 = df.groupby('seats').agg({'kms_driven': 'sum', 'car_prices_in_rupee': 'max'}).rename(columns={'kms_driven':'kms','car_prices_in_rupee' : 'prices'})

df_seats

             kms  prices
seats
2         203700    47.0
4        5598853   192.0
5      294601603   192.0
6        3584287    60.0
7       40263535   190.0
8        4171949    58.0

In [ ]:
'''
Encode the categorical columns to numeric. There are two types of encoding: ordinal and one-hot. Explain why you choose the encoding technique to the column(s) and implement it. Show some rows of df after encoding. There will be no printed console in this subtask
Reference (you may need incognito mode to browse the pages):
    https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html
    https://towardsdatascience.com/guide-to-encoding-categorical-features-using-scikit-learn-for-machine-learning-5048997a5c79
    https://stackoverflow.com/questions/56502864/using-ordinalencoder-to-transform-categorical-values
    https://stackoverflow.com/questions/37292872/how-can-i-one-hot-encode-in-python
    https://pandas.pydata.org/docs/reference/api/pandas.get_dummies.html
'''

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats,car_name_BMW,car_name_Bentley,car_name_Chevrolet,car_name_Datsun,...,car_name_Skoda,car_name_Tata,car_name_Toyota,car_name_Volkswagen,car_name_Volvo,fuel_type_Diesel,fuel_type_Electric,fuel_type_Lpg,fuel_type_Petrol,transmission_Manual
0,10.03,86226,1,2017,1956,5,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
1,12.83,13248,1,2021,1330,5,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,16.40,60343,1,2016,2494,5,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
3,7.77,26696,1,2018,1199,5,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,5.15,69414,1,2016,1199,5,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1

##Why One-hot encoding:

The reason I chose one-hot encoding over ordinal is the nature of data present in this dataset. Categorical columns are car_name (manufacturer), fuel and transmission types, which don't have any order or ranking associated. For e.g., there is no order associated in fuel Petrol over Diesel. Hence, data type is Nominal for categorical columns and not Ordinal.


One-hot is suitable for Nominal category data, and panda's get_dummies implements it in a single line, efficiently.


Only potential problem with one-hot encoding is high-dimensionality, however, we are aware of #categories (columns which will be created), due to above exploratory data analysis.

In [ ]:
df    #printing dataframe

,car_name,car_prices_in_rupee,kms_driven,fuel_type,transmission,ownership,manufacture,engine,seats
0,Jeep,10.03,86226,Diesel,Manual,1,2017,1956,5
1,Renault,12.83,13248,Petrol,Automatic,1,2021,1330,5
2,Toyota,16.40,60343,Petrol,Automatic,1,2016,2494,5
3,Honda,7.77,26696,Petrol,Automatic,1,2018,1199,5
4,Volkswagen,5.15,69414,Petrol,Manual,1,2016,1199,5
...,...,...,...,...,...,...,...,...,...
5507,BMW,28.90,45000,Diesel,Automatic,1,2018,2995,7
5508,BMW,64.90,29000,Petrol,Automatic,2,2015,1968,5
5509,Jaguar,13.75,90000,Diesel,Automatic,2,2013,2755,5
5510,BMW,29.90,79000,Diesel,Automatic,3,2015,2967,6
5511,BMW,31.90,42000,Diesel,Automatic,2,2017,1991,5

In [ ]:
one_hot = pd.get_dummies(df, prefix=['car_name', 'fuel_type', 'transmission'])    #One hot encoding for car manufacturer

one_hot

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats,car_name_Audi,car_name_BMW,car_name_Bentley,car_name_Chevrolet,...,car_name_Toyota,car_name_Volkswagen,car_name_Volvo,fuel_type_Cng,fuel_type_Diesel,fuel_type_Electric,fuel_type_Lpg,fuel_type_Petrol,transmission_Automatic,transmission_Manual
0,10.03,86226,1,2017,1956,5,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,12.83,13248,1,2021,1330,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,16.40,60343,1,2016,2494,5,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
3,7.77,26696,1,2018,1199,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,5.15,69414,1,2016,1199,5,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5507,28.90,45000,1,2018,2995,7,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
5508,64.90,29000,2,2015,1968,5,0,1,0,0,...,0,0,0,0,0,0,0,1,1,0
5509,13.75,90000,2,2013,2755,5,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
5510,29.90,79000,3,2015,2967,6,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0
5511,31.90,42000,2,2017,1991,5,0,1,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Reset the index such that it starts from 1 (instead of 0) and print the first five rows

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats,car_name_BMW,car_name_Bentley,car_name_Chevrolet,car_name_Datsun,...,car_name_Skoda,car_name_Tata,car_name_Toyota,car_name_Volkswagen,car_name_Volvo,fuel_type_Diesel,fuel_type_Electric,fuel_type_Lpg,fuel_type_Petrol,transmission_Manual
1,10.03,86226,1,2017,1956,5,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1
2,12.83,13248,1,2021,1330,5,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,16.40,60343,1,2016,2494,5,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
4,7.77,26696,1,2018,1199,5,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
5,5.15,69414,1,2016,1199,5,0,0,0,0,...,0,0,0,1,0,0,0,0,1,1

In [ ]:
one_hot.head(5)   #current index values in new encoded dataset

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats,car_name_Audi,car_name_BMW,car_name_Bentley,car_name_Chevrolet,...,car_name_Toyota,car_name_Volkswagen,car_name_Volvo,fuel_type_Cng,fuel_type_Diesel,fuel_type_Electric,fuel_type_Lpg,fuel_type_Petrol,transmission_Automatic,transmission_Manual
0,10.03,86226,1,2017,1956,5,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
1,12.83,13248,1,2021,1330,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
2,16.40,60343,1,2016,2494,5,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
3,7.77,26696,1,2018,1199,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,5.15,69414,1,2016,1199,5,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1

In [ ]:
one_hot.index = one_hot.index + 1   #changing indexing to start from 1

one_hot.head(5)   #changed index

,car_prices_in_rupee,kms_driven,ownership,manufacture,engine,seats,car_name_Audi,car_name_BMW,car_name_Bentley,car_name_Chevrolet,...,car_name_Toyota,car_name_Volkswagen,car_name_Volvo,fuel_type_Cng,fuel_type_Diesel,fuel_type_Electric,fuel_type_Lpg,fuel_type_Petrol,transmission_Automatic,transmission_Manual
1,10.03,86226,1,2017,1956,5,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,12.83,13248,1,2021,1330,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
3,16.40,60343,1,2016,2494,5,0,0,0,0,...,1,0,0,0,0,0,0,1,1,0
4,7.77,26696,1,2018,1199,5,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
5,5.15,69414,1,2016,1199,5,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1

In [ ]:
# Return boolean values indicating the number of missing rows of each column. Do not overwrite df.

car_prices_in_rupee       0
kms_driven                0
ownership                 0
manufacture               0
engine                    0
seats                     0
car_name_BMW              0
car_name_Bentley          0
car_name_Chevrolet        0
car_name_Datsun           0
car_name_Fiat             0
car_name_Force            0
car_name_Ford             0
car_name_Honda            0
car_name_Hyundai          0
car_name_Isuzu            0
car_name_Jaguar           0
car_name_Jeep             0
car_name_Kia              0
car_name_Land             0
car_name_Lexus            0
car_name_MG               0
car_name_Mahindra         0
car_name_Maruti           0
car_name_Maserati         0
car_name_Mercedes-Benz    0
car_name_Mini             0
car_name_Mitsubishi       0
car_name_Nissan           0
car_name_Porsche          0
car_name_Premier          0
car_name_Renault          0
car_name_Skoda            0
car_name_Tata             0
car_name_Toyota           0
car_name_Volkswagen       0
car_name_Volvo            0
fuel_type_Diesel          0
fuel_type_Electric        0
fuel_type_Lpg             0
fuel_type_Petrol          0
transmission_Manual       0
dtype: int64

In [ ]:
one_hot.isnull().sum()    #summing up & printing number of null values in dataframe

car_prices_in_rupee       0
kms_driven                0
ownership                 0
manufacture               0
engine                    0
seats                     0
car_name_Audi             0
car_name_BMW              0
car_name_Bentley          0
car_name_Chevrolet        0
car_name_Datsun           0
car_name_Fiat             0
car_name_Force            0
car_name_Ford             0
car_name_Honda            0
car_name_Hyundai          0
car_name_Isuzu            0
car_name_Jaguar           0
car_name_Jeep             0
car_name_Kia              0
car_name_Land             0
car_name_Lexus            0
car_name_MG               0
car_name_Mahindra         0
car_name_Maruti           0
car_name_Maserati         0
car_name_Mercedes-Benz    0
car_name_Mini             0
car_name_Mitsubishi       0
car_name_Nissan           0
car_name_Porsche          0
car_name_Premier          0
car_name_Renault          0
car_name_Skoda            0
car_name_Tata             0
car_name_Toyota           0
car_name_Volkswagen       0
car_name_Volvo            0
fuel_type_Cng             0
fuel_type_Diesel          0
fuel_type_Electric        0
fuel_type_Lpg             0
fuel_type_Petrol          0
transmission_Automatic    0
transmission_Manual       0
dtype: int64

### Part 2: Regression (50 pts)

Assign X to be the whole df without column price and y to be the column price. Split X and y into X_train, X_test, y_train, and y_test with **random_state=1** and test_size=0.2.
<br>Reference: https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

Write a class My_LinearR that implements LinearRegression algorithm. You are required to have the following attributes
* Method:
    * fit
    * predict

<br> Reference: https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
<br> **Using a pre-built library yields no credit. You have to write everything from scratch.**

In [ ]:
class My_LinearR:
    pass

##Before moving to Linear Regression:

I will be scaling few columns like kms_driven, as these columns have big values, which will result into large weights / coefficients impacting overall calculations.

###StandardScaler

In [ ]:
from sklearn.preprocessing import StandardScaler

print('Current dataframe values with one-hot encoding:')
print(one_hot.head(2))    ##Current dataframe

data_scale = one_hot[['kms_driven', 'manufacture', 'engine']]   #new subset

print('\n')
print('Subset of dataframe with columns need scaling:')
print(data_scale.head(2))

scaler = StandardScaler()   #initializing scaler
np_scaled = scaler.fit_transform(data_scale)  #scaling columns

data_scale = pd.DataFrame(np_scaled)    #to dataframe

data_scale.rename(columns = {0:'kms_driven', 1:'manufacture', 2:'engine'}, inplace = True)    #renaming column index to columns

print('\n')
print('Subset of dataframe after scaling:')
print(data_scale.head(2))

new_df = one_hot.copy()   #copy of one-hot dataframe for further use
new_df.index = new_df.index - 1   #changing indexing to start from 0
new_df[['kms_driven', 'manufacture', 'engine']] = data_scale[['kms_driven', 'manufacture', 'engine']]   ##updating scaled column values to new dataframe

print('\n')
print('New dataframe with scaling of 3 columns:')
print(new_df.head(2))

Current dataframe values with one-hot encoding:
   car_prices_in_rupee  kms_driven  ownership  manufacture  engine  seats  \
1                10.03       86226          1         2017    1956      5
2                12.83       13248          1         2021    1330      5

   car_name_Audi  car_name_BMW  car_name_Bentley  car_name_Chevrolet  ...  \
1              0             0                 0                   0  ...
2              0             0                 0                   0  ...

   car_name_Toyota  car_name_Volkswagen  car_name_Volvo  fuel_type_Cng  \
1                0                    0               0              0
2                0                    0               0              0

   fuel_type_Diesel  fuel_type_Electric  fuel_type_Lpg  fuel_type_Petrol  \
1                 1                   0              0                 0
2                 0                   0              0                 1

   transmission_Automatic  transmission_Manual
1                       0                    1
2                       1                    0

[2 rows x 45 columns]


Subset of dataframe with columns need scaling:
   kms_driven  manufacture  engine
1       86226         2017    1956
2       13248         2021    1330


Subset of dataframe after scaling:
   kms_driven  manufacture    engine
0    0.550046     0.393228  0.731579
1   -1.194156     1.411657 -0.349299


New dataframe with scaling of 3 columns:
   car_prices_in_rupee  kms_driven  ownership  manufacture    engine  seats  \
0                10.03    0.550046          1     0.393228  0.731579      5
1                12.83   -1.194156          1     1.411657 -0.349299      5

   car_name_Audi  car_name_BMW  car_name_Bentley  car_name_Chevrolet  ...  \
0              0             0                 0                   0  ...
1              0             0                 0                   0  ...

   car_name_Toyota  car_name_Volkswagen  car_name_Volvo  fuel_type_Cng  \
0                0                    0               0              0
1                0                    0               0              0

   fuel_type_Diesel  fuel_type_Electric  fuel_type_Lpg  fuel_type_Petrol  \
0                 1                   0              0                 0
1                 0                   0              0                 1

   transmission_Automatic  transmission_Manual
0                       0                    1
1                       1                    0

[2 rows x 45 columns]

##Train and Test Split

In [ ]:
import numpy as np
from sklearn.model_selection import train_test_split

X = new_df.iloc[:,1:].values

y = new_df.iloc[:,0].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

print('Training set:')
X_train

Training set:

array([[-0.76884872,  1.        ,  0.3932278 , ...,  1.        ,
         0.        ,  1.        ],
       [ 1.11825375,  3.        , -2.15284483, ...,  1.        ,
         0.        ,  1.        ],
       [ 0.87924993,  3.        , -1.38902304, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [ 1.84188562,  1.        , -1.13441578, ...,  0.        ,
         0.        ,  1.        ],
       [-0.45240766,  1.        ,  0.3932278 , ...,  0.        ,
         0.        ,  1.        ],
       [-0.24399633,  1.        , -0.87980851, ...,  1.        ,
         0.        ,  1.        ]])

##Regression Function

In [ ]:
# Loss function MSE
def mse(y_true, y_pred):
  return np.mean((y_true - y_pred)**2)

In [ ]:
class My_LinearR() :

    def __init__( self, learning_rate, iterations ) :

        self.learning_rate = learning_rate

        self.iterations = iterations

    # Fit Function (model training)
    def fit( self, X, Y ) :

        self.m, self.n = X.shape        # samples and features

        self.W = np.zeros( self.n )     # initialize coefficient (weights)

        self.b = 0                      # initialize bias

        self.X = X                      # training columns

        self.Y = Y                      # result column


        # gradient descent learning
        for i in range( self.iterations ) :

            self.update_weights()   # tuning weights for mentioned epochs

        return self


    # Gradient descent implementation function (to update weights)
    def update_weights( self ) :

        Y_pred = self.predict( self.X )

        print(f'MSE: {mse(self.Y, Y_pred)}')

        grad_weight = ( self.X.T ).dot( -2*(self.Y - Y_pred)/self.m )   # calculate weight gradients

        grad_bias = np.sum( -2*(self.Y - Y_pred)/self.m )               # calculate bias gradient

        self.W = self.W - self.learning_rate * grad_weight              # update weights

        self.b = self.b - self.learning_rate * grad_bias                # update bias

        return self


    # Predict function
    def predict( self, X ) :

      ##print(f'X in predict: {X}')

      calc = X.dot( self.W ) + self.b

      return calc

In [ ]:
# Running the code for 1000 epochs / iterations
reg = My_LinearR(iterations = 1000, learning_rate = 0.01)
reg.fit(X_train, y_train)
y_pred = reg.predict(X_test)

MSE: 547.5449916080744
MSE: 426.54864972817734
MSE: 406.3364679462897
MSE: 398.9677883340149
MSE: 393.45081524399535
MSE: 388.3989384710969
MSE: 383.62531235795865
MSE: 379.09369295459726
MSE: 374.7874347194349
MSE: 370.6930888381557
MSE: 366.79830855007714
MSE: 363.09154321305965
MSE: 359.5619584703108
MSE: 356.1993872991652
MSE: 352.99428740492215
MSE: 349.9377017372747
MSE: 347.0212215774837
MSE: 344.23695198741035
MSE: 341.5774794633465
MSE: 339.03584165247946
MSE: 336.6054989995778
MSE: 334.28030820008325
MSE: 332.05449734377027
MSE: 329.9226426405892
MSE: 327.8796466272844
MSE: 325.92071775989996
MSE: 324.0413513033906
MSE: 322.2373114352642
MSE: 320.50461448552323
MSE: 318.8395132401727
MSE: 317.2384822402334
MSE: 315.69820401257664
MSE: 314.21555617298884
MSE: 312.7875993457
MSE: 311.4115658471962
MSE: 310.0848490854849
MSE: 308.8049936291177
MSE: 307.56968590321003
MSE: 306.37674547244023
MSE: 305.2241168735811
MSE: 304.10986196251594
MSE: 303.0321527429421
MSE: 301.9892646460692
MSE: 300.979570232583
MSE: 300.00153328999227
MSE: 299.0537033001951
MSE: 298.13471025371643
MSE: 297.2432597885745
MSE: 296.3781286331464
MSE: 295.53816033372465
MSE: 294.72226124869064
MSE: 293.92939679238845
MSE: 293.1585879128652
MSE: 292.4089077886541
MSE: 291.67947873072796
MSE: 290.96946927663333
MSE: 290.2780914646483
MSE: 289.6045982765823
MSE: 288.9482812385623
MSE: 288.3084681698315
MSE: 287.6845210702207
MSE: 287.0758341375503
MSE: 286.48183190677724
MSE: 285.90196750322184
MSE: 285.3357210027001
MSE: 284.782597891841
MSE: 284.24212762229934
MSE: 283.7138622529703
MSE: 283.1973751746924
MSE: 282.69225991227006
MSE: 282.19812899897954
MSE: 281.71461291902796
MSE: 281.2413591137205
MSE: 280.77803104736415
MSE: 280.3243073291839
MSE: 279.87988088776694
MSE: 279.44445819476744
MSE: 279.0177585348153
MSE: 278.59951331876164
MSE: 278.18946543757767
MSE: 277.7873686543921
MSE: 277.3929870323109
MSE: 277.0060943958123
MSE: 276.6264738236486
MSE: 276.2539171713168
MSE: 275.88822462128235
MSE: 275.52920425925385
MSE: 275.17667167491373
MSE: 274.8304495856117
MSE: 274.4903674816173
MSE: 274.1562612916209
MSE: 273.82797306725195
MSE: 273.50535068545815
MSE: 273.188247567668
MSE: 272.8765224147187
MSE: 272.57003895660057
MSE: 272.2686657161259
MSE: 271.9722757856858
MSE: 271.6807466163112
MSE: 271.39395981830273
MSE: 271.1118009727388
MSE: 270.8341594532162
MSE: 270.56092825721475
MSE: 270.29200384651773
MSE: 270.0272859961526
MSE: 269.7666776513522
MSE: 269.5100847920637
MSE: 269.2574163045661
MSE: 269.0085838597793
MSE: 268.76350179787835
MSE: 268.52208701884507
MSE: 268.28425887861556
MSE: 268.04993909050125
MSE: 267.8190516315808
MSE: 267.5915226537787
MSE: 267.3672803993649
MSE: 267.1462551206225
MSE: 266.9283790034502
MSE: 266.71358609467745
MSE: 266.5018122328835
MSE: 266.29299498252635
MSE: 266.08707357119613
MSE: 265.8839888298219
MSE: 265.68368313566754
MSE: 265.4861003579654
MSE: 265.2911858060439
MSE: 265.0988861798118
MSE: 264.90914952247533
MSE: 264.721925175365
MSE: 264.53716373476226
MSE: 264.35481701061775
MSE: 264.17483798706223
MSE: 263.99718078461655
MSE: 263.8218006240105
MSE: 263.64865379152906
MSE: 263.4776976058058
MSE: 263.3088903859895
MSE: 263.1421914212151
MSE: 262.9775609413123
MSE: 262.8149600886891
MSE: 262.6543508913332
MSE: 262.4956962368744
MSE: 262.33895984765667
MSE: 262.1841062567705
MSE: 262.03110078499907
MSE: 261.87990951863316
MSE: 261.7304992881154
MSE: 261.5828376474733
MSE: 261.4368928545034
MSE: 261.29263385167314
MSE: 261.15003024770607
MSE: 261.0090522998194
MSE: 260.8696708965845
MSE: 260.73185754138206
MSE: 260.5955843364243
MSE: 260.4608239673219
MSE: 260.3275496881686
MSE: 260.1957353071223
MSE: 260.0653551724619
MSE: 259.93638415909857
MSE: 259.80879765552174
MSE: 259.68257155116356
MSE: 259.55768222416236
MSE: 259.4341065295095
MSE: 259.31182178756416
MSE: 259.19080577292124
MSE: 259.07103670361704
MSE: 258.9524932306616
MSE: 258.8351544278827
MSE: 258.7189997820698
MSE: 258.6040091834082
MSE: 258.49016291619006
MSE: 258.3774416497922
MSE: 258.26582642991286
MSE: 258.15529867005455
MSE: 258.04584014324666
MSE: 257.9374329739976
MSE: 257.8300596304691
MSE: 257.723702916864
MSE: 257.6183459660205
MSE: 257.5139722322057
MSE: 257.41056548410097
MSE: 257.3081097979738
MSE: 257.20658955102795
MSE: 257.1059894149278
MSE: 257.0062943494897
MSE: 256.9074895965357
MSE: 256.8095606739043
MSE: 256.71249336961205
MSE: 256.61627373616284
MSE: 256.52088808499894
MSE: 256.4263229810897
MSE: 256.332565237654
MSE: 256.2396019110119
MSE: 256.14742029556106
MSE: 256.0560079188755
MSE: 255.96535253692187
MSE: 255.87544212938988
MSE: 255.78626489513425
MSE: 255.69780924772385
MSE: 255.61006381109556
MSE: 255.52301741531002
MSE: 255.43665909240582
MSE: 255.3509780723492
MSE: 255.26596377907794
MSE: 255.18160582663464
MSE: 255.09789401538865
MSE: 255.01481832834423
MSE: 254.93236892753026
MSE: 254.85053615047326
MSE: 254.76931050674733
MSE: 254.68868267460203
MSE: 254.60864349766436
MSE: 254.5291839817139
MSE: 254.45029529152882
MSE: 254.37196874779985
MSE: 254.29419582411353
MSE: 254.21696814399874
MSE: 254.14027747803866
MSE: 254.06411574104408
MSE: 253.98847498928762
MSE: 253.9133474177972
MSE: 253.8387253577072
MSE: 253.76460127366528
MSE: 253.69096776129464
MSE: 253.6178175447099
MSE: 253.5451434740843
MSE: 253.472938523269
MSE: 253.40119578746115
MSE: 253.32990848092103
MSE: 253.25906993473617
MSE: 253.18867359463232
MSE: 253.11871301882852
MSE: 253.04918187593748
MSE: 252.98007394290826
MSE: 252.91138310301108
MSE: 252.84310334386333
MSE: 252.7752287554961
MSE: 252.70775352845882
MSE: 252.6406719519637
MSE: 252.57397841206625
MSE: 252.50766738988347
MSE: 252.4417334598471
MSE: 252.37617128799212
MSE: 252.31097563027922
MSE: 252.2461413309514
MSE: 252.1816633209221
MSE: 252.1175366161964
MSE: 252.05375631632256
MSE: 251.99031760287508
MSE: 251.92721573796646
MSE: 251.8644460627894
MSE: 251.8020039961867
MSE: 251.73988503324986
MSE: 251.6780847439443
MSE: 251.6165987717621
MSE: 251.5554228324004
MSE: 251.494552712466
MSE: 251.43398426820417
MSE: 251.3737134242534
MSE: 251.31373617242252
MSE: 251.25404857049307
MSE: 251.1946467410433
MSE: 251.1355268702955
MSE: 251.07668520698547
MSE: 251.01811806125286
MSE: 250.9598218035537
MSE: 250.9017928635927
MSE: 250.8440277292768
MSE: 250.78652294568764
MSE: 250.72927511407408
MSE: 250.67228089086404
MSE: 250.615536986694
MSE: 250.55904016545793
MSE: 250.50278724337346
MSE: 250.4467750880656
MSE: 250.39100061766823
MSE: 250.3354607999418
MSE: 250.28015265140772
MSE: 250.22507323649904
MSE: 250.17021966672695
MSE: 250.11558909986277
MSE: 250.0611787391349
MSE: 250.0069858324412
MSE: 249.9530076715756
MSE: 249.89924159146904
MSE: 249.84568496944456
MSE: 249.7923352244862
MSE: 249.73918981652108
MSE: 249.68624624571487
MSE: 249.63350205178048
MSE: 249.58095481329914
MSE: 249.52860214705353
MSE: 249.4764417073741
MSE: 249.42447118549654
MSE: 249.3726883089312
MSE: 249.32109084084408
MSE: 249.26967657944905
MSE: 249.21844335741116
MSE: 249.16738904126055
MSE: 249.1165115308174
MSE: 249.06580875862687
MSE: 249.01527868940468
MSE: 248.96491931949217
MSE: 248.91472867632172
MSE: 248.86470481789164
MSE: 248.81484583225
MSE: 248.76514983698908
MSE: 248.71561497874674
MSE: 248.66623943271924
MSE: 248.61702140218077
MSE: 248.56795911801242
MSE: 248.51905083823976
MSE: 248.47029484757806
MSE: 248.4216894569862
MSE: 248.37323300322805
MSE: 248.32492384844213
MSE: 248.27676037971813
MSE: 248.228741008682
MSE: 248.1808641710877
MSE: 248.13312832641577
MSE: 248.08553195748058
MSE: 248.03807357004231
MSE: 247.99075169242775
MSE: 247.94356487515662
MSE: 247.89651169057484
MSE: 247.84959073249414
MSE: 247.80280061583832
MSE: 247.75613997629503
MSE: 247.70960746997454
MSE: 247.66320177307364
MSE: 247.6169215815459
MSE: 247.57076561077753
MSE: 247.52473259526917
MSE: 247.4788212883226
MSE: 247.43303046173358
MSE: 247.38735890548958
MSE: 247.341805427473
MSE: 247.29636885316935
MSE: 247.25104802538067
MSE: 247.20584180394368
MSE: 247.16074906545327
MSE: 247.11576870299
MSE: 247.07089962585306
MSE: 247.02614075929733
MSE: 246.9814910442754
MSE: 246.93694943718336
MSE: 246.8925149096118
MSE: 246.84818644810036
MSE: 246.80396305389695
MSE: 246.7598437427209
MSE: 246.7158275445301
MSE: 246.67191350329225
MSE: 246.62810067676
MSE: 246.58438813625003
MSE: 246.54077496642546
MSE: 246.4972602650826
MSE: 246.45384314294057
MSE: 246.4105227234355
MSE: 246.3672981425172
MSE: 246.3241685484498
MSE: 246.28113310161578
MSE: 246.2381909743233
MSE: 246.19534135061633
MSE: 246.1525834260888
MSE: 246.1099164077014
MSE: 246.06733951360115
MSE: 246.02485197294484
MSE: 245.98245302572465
MSE: 245.94014192259715
MSE: 245.89791792471522
MSE: 245.8557803035622
MSE: 245.81372834078968
MSE: 245.77176132805735
MSE: 245.7298785668758
MSE: 245.68807936845184
MSE: 245.64636305353633
MSE: 245.60472895227505
MSE: 245.56317640406144
MSE: 245.52170475739177
MSE: 245.48031336972363
MSE: 245.43900160733543
MSE: 245.3977688451893
MSE: 245.35661446679586
MSE: 245.3155378640812
MSE: 245.27453843725598
MSE: 245.23361559468717
MSE: 245.19276875277126
MSE: 245.15199733580988
MSE: 245.11130077588774
MSE: 245.07067851275198
MSE: 245.03012999369415
MSE: 244.98965467343348
MSE: 244.9492520140026
MSE: 244.908921484635
MSE: 244.86866256165402
MSE: 244.82847472836417
MSE: 244.78835747494384
MSE: 244.7483102983399
MSE: 244.708332702164
MSE: 244.66842419659073
MSE: 244.62858429825715
MSE: 244.588812530164
MSE: 244.54910842157886
MSE: 244.50947150794056
MSE: 244.4699013307651
MSE: 244.43039743755347
MSE: 244.39095938170033
MSE: 244.351586722405
MSE: 244.31227902458335
MSE: 244.2730358587807
MSE: 244.23385680108757
MSE: 244.19474143305507
MSE: 244.1556893416128
MSE: 244.11670011898764
MSE: 244.0777733626241
MSE: 244.03890867510557
MSE: 244.0001056640771
MSE: 243.9613639421693
MSE: 243.92268312692397
MSE: 243.8840628407199
MSE: 243.84550271070069
MSE: 243.80700236870365
MSE: 243.76856145118938
MSE: 243.73017959917294
MSE: 243.69185645815585
MSE: 243.65359167805937
MSE: 243.6153849131587
MSE: 243.57723582201817
MSE: 243.53914406742786
MSE: 243.50110931634032
MSE: 243.46313123980968
MSE: 243.4252095129304
MSE: 243.38734381477767
MSE: 243.34953382834868
MSE: 243.3117792405048
MSE: 243.2740797419146
MSE: 243.23643502699755
MSE: 243.19884479386954
MSE: 243.16130874428762
MSE: 243.12382658359763
MSE: 243.0863980206807
MSE: 243.04902276790202
MSE: 243.01170054105984
MSE: 242.97443105933496
MSE: 242.93721404524203
MSE: 242.90004922458016
MSE: 242.8629363263858
MSE: 242.82587508288518
MSE: 242.78886522944822
MSE: 242.7519065045429
MSE: 242.71499864969022
MSE: 242.67814140942002
MSE: 242.6413345312277
MSE: 242.60457776553105
MSE: 242.56787086562835
MSE: 242.5312135876565
MSE: 242.49460569055074
MSE: 242.45804693600365
MSE: 242.42153708842616
MSE: 242.38507591490844
MSE: 242.3486631851811
MSE: 242.3122986715779
MSE: 242.2759821489982
MSE: 242.23971339487045
MSE: 242.20349218911616
MSE: 242.16731831411417
MSE: 242.13119155466592
MSE: 242.0951116979608
MSE: 242.05907853354253
MSE: 242.02309185327536
MSE: 241.98715145131143
MSE: 241.95125712405869
MSE: 241.9154086701483
MSE: 241.879605890404
MSE: 241.84384858781064
MSE: 241.80813656748424
MSE: 241.77246963664143
MSE: 241.73684760457044
MSE: 241.70127028260197
MSE: 241.6657374840801
MSE: 241.63024902433492
MSE: 241.59480472065394
MSE: 241.55940439225535
MSE: 241.52404786026074
MSE: 241.48873494766875
MSE: 241.4534654793292
MSE: 241.41823928191667
MSE: 241.38305618390592
MSE: 241.34791601554656
MSE: 241.31281860883863
MSE: 241.27776379750816
MSE: 241.24275141698377
MSE: 241.20778130437284
MSE: 241.17285329843827
MSE: 241.13796723957643
MSE: 241.10312296979382
MSE: 241.06832033268543
MSE: 241.03355917341327
MSE: 240.99883933868426
MSE: 240.9641606767296
MSE: 240.9295230372838
MSE: 240.89492627156432
MSE: 240.8603702322511
MSE: 240.8258547734672
MSE: 240.79137975075858
MSE: 240.75694502107527
MSE: 240.72255044275218
MSE: 240.68819587549035
MSE: 240.65388118033863
MSE: 240.61960621967552
MSE: 240.58537085719104
MSE: 240.55117495786934
MSE: 240.51701838797118
MSE: 240.48290101501698
MSE: 240.44882270776972
MSE: 240.41478333621836
MSE: 240.38078277156188
MSE: 240.34682088619246
MSE: 240.31289755368022
MSE: 240.27901264875703
MSE: 240.24516604730155
MSE: 240.2113576263239
MSE: 240.17758726395027
MSE: 240.14385483940885
MSE: 240.11016023301477
MSE: 240.0765033261559
MSE: 240.0428840012789
MSE: 240.0093021418751
MSE: 239.97575763246684
MSE: 239.94225035859398
MSE: 239.90878020680069
MSE: 239.87534706462213
MSE: 239.84195082057172
MSE: 239.80859136412826
MSE: 239.77526858572335
MSE: 239.74198237672923
MSE: 239.70873262944622
MSE: 239.67551923709127
MSE: 239.64234209378543
MSE: 239.60920109454284
MSE: 239.57609613525852
MSE: 239.5430271126978
MSE: 239.50999392448466
MSE: 239.47699646909072
MSE: 239.4440346458246
MSE: 239.41110835482098
MSE: 239.37821749703045
MSE: 239.34536197420863
MSE: 239.31254168890632
MSE: 239.27975654445908
MSE: 239.24700644497756
MSE: 239.21429129533757
MSE: 239.18161100117038
MSE: 239.14896546885325
MSE: 239.11635460549996
MSE: 239.0837783189517
MSE: 239.05123651776773
MSE: 239.01872911121646
MSE: 238.98625600926675
MSE: 238.95381712257907
MSE: 238.92141236249657
MSE: 238.88904164103704
MSE: 238.8567048708844
MSE: 238.8244019653802
MSE: 238.7921328385157
MSE: 238.75989740492406
MSE: 238.72769557987166
MSE: 238.6955272792513
MSE: 238.6633924195738
MSE: 238.63129091796063
MSE: 238.59922269213638
MSE: 238.56718766042158
MSE: 238.53518574172514
MSE: 238.50321685553757
MSE: 238.47128092192335
MSE: 238.43937786151454
MSE: 238.4075075955036
MSE: 238.37567004563658
MSE: 238.34386513420677
MSE: 238.31209278404765
MSE: 238.28035291852675
MSE: 238.2486454615391
MSE: 238.21697033750095
MSE: 238.18532747134353
MSE: 238.1537167885069
MSE: 238.12213821493393
MSE: 238.09059167706437
MSE: 238.0590771018288
MSE: 238.02759441664293
MSE: 237.99614354940203
MSE: 237.96472442847494
MSE: 237.9333369826987
MSE: 237.90198114137323
MSE: 237.87065683425539
MSE: 237.83936399155436
MSE: 237.8081025439257
MSE: 237.77687242246657
MSE: 237.74567355871034
MSE: 237.71450588462184
MSE: 237.68336933259215
MSE: 237.65226383543362
MSE: 237.62118932637532
MSE: 237.5901457390578
MSE: 237.559133007529
MSE: 237.52815106623893
MSE: 237.49719985003557
MSE: 237.46627929416
MSE: 237.4353893342423
MSE: 237.40452990629672
MSE: 237.37370094671766
MSE: 237.34290239227525
MSE: 237.3121341801112
MSE: 237.2813962477344
MSE: 237.25068853301715
MSE: 237.22001097419087
MSE: 237.18936350984208
MSE: 237.15874607890856
MSE: 237.1281586206755
MSE: 237.09760107477132
MSE: 237.0670733811644
MSE: 237.03657548015883
MSE: 237.00610731239098
MSE: 236.975668818826
MSE: 236.94525994075377
MSE: 236.91488061978578
MSE: 236.8845307978514
MSE: 236.85421041719457
MSE: 236.8239194203703
MSE: 236.79365775024132
MSE: 236.76342534997477
MSE: 236.73322216303885
MSE: 236.7030481331998
MSE: 236.6729032045186
MSE: 236.64278732134764
MSE: 236.61270042832794
MSE: 236.58264247038585
MSE: 236.5526133927302
MSE: 236.52261314084913
MSE: 236.4926416605073
MSE: 236.4626988977429
MSE: 236.4327847988649
MSE: 236.4028993104501
MSE: 236.3730423793403
MSE: 236.34321395263976
MSE: 236.31341397771223
MSE: 236.28364240217851
MSE: 236.25389917391357
MSE: 236.22418424104404
MSE: 236.19449755194574
MSE: 236.16483905524095
MSE: 236.13520869979592
MSE: 236.10560643471862
MSE: 236.0760322093561
MSE: 236.04648597329182
MSE: 236.01696767634385
MSE: 235.98747726856212
MSE: 235.9580147002261
MSE: 235.92857992184267
MSE: 235.89917288414375
MSE: 235.86979353808417
MSE: 235.84044183483923
MSE: 235.81111772580277
MSE: 235.78182116258492
MSE: 235.75255209701
MSE: 235.72331048111445
MSE: 235.6940962671446
MSE: 235.6649094075548
MSE: 235.6357498550055
MSE: 235.60661756236087
MSE: 235.5775124826873
MSE: 235.54843456925107
MSE: 235.5193837755168
MSE: 235.49036005514506
MSE: 235.4613633619912
MSE: 235.43239365010282
MSE: 235.40345087371838
MSE: 235.3745349872652
MSE: 235.3456459453578
MSE: 235.31678370279613
MSE: 235.28794821456373
MSE: 235.25913943582623
MSE: 235.23035732192935
MSE: 235.20160182839763
MSE: 235.17287291093237
MSE: 235.14417052541043
MSE: 235.11549462788227
MSE: 235.08684517457058
MSE: 235.0582221218685
MSE: 235.02962542633844
MSE: 235.00105504471017
MSE: 234.97251093387956
MSE: 234.94399305090687
MSE: 234.9155013530156
MSE: 234.8870357975907
MSE: 234.85859634217746
MSE: 234.83018294447984
MSE: 234.80179556235902
MSE: 234.77343415383245
MSE: 234.74509867707195
MSE: 234.7167890904027
MSE: 234.68850535230175
MSE: 234.66024742139697
MSE: 234.6320152564653
MSE: 234.60380881643184
MSE: 234.57562806036856
MSE: 234.5474729474927
MSE: 234.519343437166
MSE: 234.4912394888932
MSE: 234.4631610623209
MSE: 234.4351081172363
MSE: 234.40708061356617
MSE: 234.37907851137552
MSE: 234.35110177086668
MSE: 234.32315035237784
MSE: 234.29522421638225
MSE: 234.26732332348686
MSE: 234.2394476344314
MSE: 234.2115971100872
MSE: 234.18377171145616
MSE: 234.15597139966968
MSE: 234.12819613598768
MSE: 234.10044588179736
MSE: 234.07272059861248
MSE: 234.0450202480721
MSE: 234.01734479193976
MSE: 233.98969419210243
MSE: 233.9620684105695
MSE: 233.93446740947178
MSE: 233.90689115106073
MSE: 233.8793395977074
MSE: 233.8518127119015
MSE: 233.82431045625046
MSE: 233.79683279347867
MSE: 233.76937968642642
MSE: 233.74195109804896
MSE: 233.71454699141606
MSE: 233.6871673297105
MSE: 233.6598120762277
MSE: 233.63248119437478
MSE: 233.6051746476695
MSE: 233.57789239973968
MSE: 233.55063441432245
MSE: 233.52340065526317
MSE: 233.49619108651467
MSE: 233.46900567213675
MSE: 233.44184437629514
MSE: 233.41470716326077
MSE: 233.3875939974091
MSE: 233.36050484321927
MSE: 233.33343966527346
MSE: 233.3063984282559
MSE: 233.27938109695273
MSE: 233.25238763625038
MSE: 233.2254180111358
MSE: 233.19847218669514
MSE: 233.17155012811327
MSE: 233.144651800673
MSE: 233.11777716975453
MSE: 233.09092620083487
MSE: 233.06409885948662
MSE: 233.03729511137823
MSE: 233.01051492227242
MSE: 232.98375825802614
MSE: 232.95702508458984
MSE: 232.93031536800652
MSE: 232.90362907441153
MSE: 232.87696617003175
MSE: 232.85032662118488
MSE: 232.82371039427917
MSE: 232.7971174558125
MSE: 232.77054777237188
MSE: 232.74400131063302
MSE: 232.71747803735957
MSE: 232.69097791940254
MSE: 232.66450092370005
MSE: 232.63804701727634
MSE: 232.61161616724155
MSE: 232.58520834079096
MSE: 232.55882350520466
MSE: 232.53246162784671
MSE: 232.5061226761651
MSE: 232.4798066176906
MSE: 232.45351342003687
MSE: 232.42724305089953
MSE: 232.4009954780558
MSE: 232.37477066936407
MSE: 232.34856859276312
MSE: 232.32238921627206
MSE: 232.29623250798954
MSE: 232.2700984360934
MSE: 232.2439869688401
MSE: 232.2178980745643
MSE: 232.19183172167848
MSE: 232.16578787867235
MSE: 232.13976651411247
MSE: 232.11376759664182
MSE: 232.08779109497928
MSE: 232.06183697791926
MSE: 232.03590521433117
MSE: 232.00999577315923
MSE: 231.98410862342175
MSE: 231.95824373421073
MSE: 231.93240107469182
MSE: 231.9065806141034
MSE: 231.8807823217565
MSE: 231.85500616703422
MSE: 231.82925211939164
MSE: 231.80352014835492
MSE: 231.77781022352133
MSE: 231.7521223145587
MSE: 231.72645639120503
MSE: 231.7008124232682
MSE: 231.6751903806254
MSE: 231.64959023322294
MSE: 231.62401195107591
MSE: 231.59845550426758
MSE: 231.57292086294936
MSE: 231.5474079973401
MSE: 231.52191687772597
MSE: 231.49644747446018
MSE: 231.47099975796223
MSE: 231.4455736987181
MSE: 231.4201692672795
MSE: 231.3947864342636
MSE: 231.369425170353
MSE: 231.344085446295
MSE: 231.3187672329015
MSE: 231.29347050104863
MSE: 231.2681952216764
MSE: 231.24294136578837
MSE: 231.21770890445146
MSE: 231.19249780879542
MSE: 231.16730805001276
MSE: 231.14213959935836
MSE: 231.11699242814888
MSE: 231.0918665077631
MSE: 231.06676180964095
MSE: 231.04167830528357
MSE: 231.01661596625303
MSE: 230.99157476417193
MSE: 230.96655467072313
MSE: 230.94155565764942
MSE: 230.91657769675356
MSE: 230.8916207598974
MSE: 230.8666848190022
MSE: 230.84176984604795

In [ ]:
y_pred    # Predicted values

array([ 7.190175  , 12.52217608,  9.52338193, ..., 25.33802652,
       31.18954282, 28.10439854])

In [ ]:
y_test    # Real values

array([ 4.71,  9.06,  7.92, ...,  4.26, 29.75, 18.28])

In [ ]:
reg.W   # Weights

array([-1.74750108e+00, -2.53602388e-01,  3.94207367e+00,  6.93284234e-01,
        1.48263358e+00,  1.13528040e+00,  6.78874993e+00,  0.00000000e+00,
       -7.10803384e-01, -7.22375880e-01, -6.32463358e-02, -4.14990581e-02,
       -1.65884259e+00, -3.79466331e+00, -4.29741392e+00, -7.08968499e-02,
        1.38125985e+00, -3.05971739e-01, -1.21575917e+00,  9.80543023e+00,
        8.17625652e-01, -1.23472587e+00, -3.42044159e+00, -4.10902203e+00,
        6.82936344e-01,  1.11470221e+01,  3.95261227e-01, -3.74344910e-02,
       -9.54412581e-01,  1.84713973e+00, -7.71892154e-03, -3.97852348e+00,
       -2.11612524e+00, -3.49164704e+00,  3.49269976e+00, -2.66653228e+00,
        1.94316610e+00, -1.98984928e-01,  4.38968828e+00, -7.38290517e-01,
        2.49013797e-01,  8.37088943e-01,  9.61460032e+00, -5.07608474e+00])

In [ ]:
reg.b   # Bias

4.538515576420225

In [ ]:
#One snapshot of results
print( "Predicted values ", np.round(y_pred[:5], 2 ) )
print( "Real values      ", y_test[:5] )
print( "Trained W        ", round(reg.W[0], 2 ) )
print( "Trained b        ", round(reg.b, 2 ) )

Predicted values  [ 7.19 12.52  9.52  1.45 -5.42]
Real values       [4.71 9.06 7.92 4.47 2.1 ]
Trained W         -1.75
Trained b         4.54

### Part 3: Metric (10 pts)

In [ ]:
# Use three of regression metrics in https://scikit-learn.org/stable/modules/classes.html#module-sklearn.metrics to compute errors between y_test and y_pred

Which one do you think is the best metric of the three? Explain.
<br>Answer:

In [ ]:
from sklearn.metrics import mean_absolute_error

mean_absolute_error(y_test, y_pred)

6.788752555900549

In [ ]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred)

160.66923161847782

In [ ]:
from sklearn.metrics import max_error

max_error(y_test, y_pred)

144.72314093351682

In [ ]:
from sklearn.metrics import median_absolute_error

median_absolute_error(y_test, y_pred)

3.891811678916093

##Regression Metrics:


While choosing a regression metric in order to calculate loss or error in prediction, the type of data which we are working upon matters a lot. In my opinion, tagging best of above, heavily depends on the situation which we are working upon, they all have their own strengths and weaknesses.




However, for this specific car_price dataset, I have used MSE (mean_squared_error) to calculate loss (printed loss for each loop as well). The reasons to select this metric are:


Calculation of gradient is straightforward and easy to understand, as simplicity was one of the goals, because we are writing our own regression function.


We have done EDA in-depths, and also have used scaling & one-hot encoding which have massaged the dataset already. Makes it easier to handle weights and calculation for MSE.


Result for my own MSE function is mentioned below:

In [ ]:
mse(y_test, y_pred)

160.66923161847782